/Practica 01/Aplicacion1/nbproject/private/
/Practica 01/JavaApplication1/nbproject/private/
/Practica 01/JavaApplication1/build/
/Practica 01/JavaApplication1/dist/
/Practica 02/nbproject/private/
/Practica 02/JavaApplication2/nbproject/private/
/Practica 02/JavaApplication2/build/