/Practica 01/Aplicacion1/nbproject/private/
/Practica 01/JavaApplication1/nbproject/private/
/Practica 01/JavaApplication1/build/
/Practica 01/JavaApplication1/dist/
/Practica 02/nbproject/private/
/Practica 02/JavaApplication2/nbproject/private/
/Practica 02/JavaApplication2/build/
/Practica 05/JavaApplication5/nbproject/private/
/Practica 05/JavaApplication5/build/
/Practica 06/JavaApplication6/nbproject/private/
/Practica 06/JavaApplication6/build/
/Practica 08/JavaApplication8/nbproject/private/